<!DOCTYPE html>{% templatetag openblock %} load static from staticfiles {% templatetag closeblock %}{% templatetag openblock %} load gravatar_url from core_tags {% templatetag closeblock %}
<html lang="en" ng-app="{{ project_name }}">
<head>
  {% templatetag openblock %} block meta {% templatetag closeblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% templatetag openblock %} endblock meta {% templatetag closeblock %}

  <title>{% templatetag openblock %} block title {% templatetag closeblock %}Bem vindo{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>

  {% templatetag openblock %} block bower_css {% templatetag closeblock %}
    <!-- bower:css -->
    <!-- endbower -->
  {% templatetag openblock %} endblock bower_css {% templatetag closeblock %}

  {% templatetag openblock %} block inject_css {% templatetag closeblock %}
    <!-- inject:css -->
    <!-- endinject -->
  {% templatetag openblock %} endblock inject_css {% templatetag closeblock %}

  {% templatetag openblock %} block bower_js {% templatetag closeblock %}
    <!-- bower:js -->
    <!-- endbower -->
  {% templatetag openblock %} endblock bower_js {% templatetag closeblock %}
  
  {% templatetag openblock %} block inject_js {% templatetag closeblock %}
    <!-- inject:js -->
    <!-- endinject -->
  {% templatetag openblock %} endblock inject_js {% templatetag closeblock %}
  
  <script>
    {% templatetag openblock %} block script {% templatetag closeblock %}
      var app = angular.module('{{ project_name }}');
      app.constant('cgBusyDefaults', {
        templateUrl: '{% templatetag openblock %} static "templates/angular-busy.html" {% templatetag closeblock %}',
        message: 'Aguarde...'
      });
      app.constant('loginURL', '{% templatetag openblock %} url "account_login" {% templatetag closeblock %}');
      app.constant('logoutURL', '{% templatetag openblock %} url "account_logout" {% templatetag closeblock %}');
      app.constant('confirmModalTemplate', '{% templatetag openblock %} static "app/core/confirm-modal.html" {% templatetag closeblock %}');
    {% templatetag openblock %} endblock script {% templatetag closeblock %}
  </script>
</head>
<body ng-controller="mainCtrl as main" class="{% templatetag openblock %} block body_class {% templatetag closeblock %}hold-transition skin-black sidebar-mini{% templatetag openblock %} endblock body_class {% templatetag closeblock %}">
  {% templatetag openblock %} block body {% templatetag closeblock %}
    <div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>A</b>LT</span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- User Account Menu -->
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{% templatetag openblock %} gravatar_url user.email {% templatetag closeblock %}" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{% templatetag openvariable %} user.username.capitalize {% templatetag closevariable %}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{% templatetag openblock %} gravatar_url user.email {% templatetag closeblock %}" class="img-circle" alt="User Image">
                    <p>
                      {% templatetag openvariable %} user.get_full_name.title {% templatetag closevariable %}
                      <small>Desde {% templatetag openvariable %} user.created {% templatetag closevariable %}</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Friends</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a ng-click="main.logout()" class="btn btn-default btn-flat">Logout</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar user panel (optional) -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% templatetag openblock %} gravatar_url user.email {% templatetag closeblock %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{% templatetag openvariable %} user.get_full_name.title {% templatetag closevariable %}</p>
              <!-- Status -->
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <!-- search form (Optional) -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->

          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">HEADER</li>
            <!-- Optionally, you can add icons to the links -->
            <li ui-sref-active="active"><a ui-sref="index"><i class="fa fa-link"></i> <span>Index</span></a></li>
            <li ui-sref-active="active"><a ui-sref="config"><i class="fa fa-link"></i> <span>Config</span></a></li>
            <li class="treeview" ng-class="{active: $state.includes('parent')}">
              <a href=""><i class="fa fa-link"></i> <span>Parent</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li ui-sref-active="active"><a ui-sref="parent.child1">Child 1</a></li>
                <li ui-sref-active="active"><a ui-sref="parent.child2">Child 2</a></li>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Page Header
            <small>Optional description</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
          <div ui-view=""></div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
          <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
          <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Home tab content -->
          <div class="tab-pane active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">Recent Activity</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                  <div class="menu-info">
                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                    <p>Will be 23 on April 24th</p>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

            <h3 class="control-sidebar-heading">Tasks Progress</h3>
            <ul class="control-sidebar-menu">
              <li>
                <a href="javascript::;">
                  <h4 class="control-sidebar-subheading">
                    Custom Template Design
                    <span class="label label-danger pull-right">70%</span>
                  </h4>
                  <div class="progress progress-xxs">
                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                  </div>
                </a>
              </li>
            </ul><!-- /.control-sidebar-menu -->

          </div><!-- /.tab-pane -->
          <!-- Stats tab content -->
          <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
          <!-- Settings tab content -->
          <div class="tab-pane" id="control-sidebar-settings-tab">
            <form method="post">
              <h3 class="control-sidebar-heading">General Settings</h3>
              <div class="form-group">
                <label class="control-sidebar-subheading">
                  Report panel usage
                  <input type="checkbox" class="pull-right" checked>
                </label>
                <p>
                  Some information about this general settings option
                </p>
              </div><!-- /.form-group -->
            </form>
          </div><!-- /.tab-pane -->
        </div>
      </aside><!-- /.control-sidebar -->
      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
  {% templatetag openblock %} endblock body {% templatetag closeblock %}
</body>
</html>