{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Resetar senha{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block body_class {% templatetag closeblock %}hold-transition login-page{% templatetag openblock %} endblock body_class {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="login-box">
    <div class="panel panel-success">
      <div class="panel-heading">
        Reset de Senha Finalizado com Sucesso
      </div>
      <div class="panel-body">
        <p>Sua senha foi resetada com sucesso.</p>
        <hr/>
        <a href="{% templatetag openblock %} url 'account_login' {% templatetag closeblock %}">Login</a>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}
