{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}{% templatetag openblock %} load render_field from widget_tweaks {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}Registrar{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} block body_class {% templatetag closeblock %}hold-transition register-page{% templatetag openblock %} endblock body_class {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="login-box">
    <div class="panel panel-info">
      <div class="panel-heading">
        Prencha o campos abaixo para iniciar seu registro
      </div>
      <div class="panel-body">
        <form action="{% templatetag openblock %} url 'account_signup' {% templatetag closeblock %}" method="post">{% templatetag openblock %} csrf_token {% templatetag closeblock %}
          <div class="form-group has-feedback {% templatetag openblock %} if form.username.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
            {% templatetag openblock %} render_field form.username class="form-control" placeholder="usuario" autofocus="autofocus" {% templatetag closeblock %}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            {% templatetag openblock %} if form.username.errors {% templatetag closeblock %}
              <span class="text-danger">{% templatetag openvariable %} form.username.errors.0 {% templatetag closevariable %}</span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
          </div>
          <div class="form-group has-feedback {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
            {% templatetag openblock %} render_field form.email class="form-control" placeholder="Email" {% templatetag closeblock %}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            {% templatetag openblock %} if form.email.errors {% templatetag closeblock %}
              <span class="text-danger">{% templatetag openvariable %} form.email.errors.0 {% templatetag closevariable %}</span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
          </div>
          <div class="form-group has-feedback {% templatetag openblock %} if form.password1.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
            {% templatetag openblock %} render_field form.password1 class="form-control" placeholder="Senha" {% templatetag closeblock %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% templatetag openblock %} if form.password1.errors {% templatetag closeblock %}
              <span class="text-danger">{% templatetag openvariable %} form.password1.errors.0 {% templatetag closevariable %}</span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
          </div>
          <div class="form-group has-feedback {% templatetag openblock %} if form.password2.errors {% templatetag closeblock %}has-error{% templatetag openblock %} endif {% templatetag closeblock %}">
            {% templatetag openblock %} render_field form.password2 class="form-control" placeholder="Confirmar Senha" {% templatetag closeblock %}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            {% templatetag openblock %} if form.password2.errors {% templatetag closeblock %}
              <span class="text-danger">{% templatetag openvariable %} form.password2.errors.0 {% templatetag closevariable %}</span>
            {% templatetag openblock %} endif {% templatetag closeblock %}
          </div>
          <div class="clearfix">
            <div class="pull-left">
              <a href="{% templatetag openblock %} url 'account_login' {% templatetag closeblock %}" id="id_login_button">Login</a>
            </div>

            <div class="pull-right">
              <button submit type="submit" class="btn btn-primary btn-flat" id="id_register_button"><span class="glyphicon glyphicon-floppy-save"></span> Registrar</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
{% templatetag openblock %} endblock {% templatetag closeblock %}
