{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block title {% templatetag closeblock %}Registro Inicializado{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block body_class {% templatetag closeblock %}hold-transition login-page{% templatetag openblock %} endblock body_class {% templatetag closeblock %}

{% templatetag openblock %} block body {% templatetag closeblock %}
  <div class="login-box">
    <div class="panel panel-info">
      <div class="panel-heading">
        Registro Inicializado
      </div>
      <div class="panel-body">
        <p>Um email com instruções para completar seu registro foi enviado.</p>
        <hr/>
        <a href="{% templatetag openblock %} url 'account_login' {% templatetag closeblock %}">Login</a>
      </div>
    </div>
  </div>
{% templatetag openblock %} endblock body {% templatetag closeblock %}
